<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{%= baseUrl %}/styles.css" />
  </head>

  <body>
    {%- include('header') %}

    <main>{%= error %}</main>

    {% if (livereload) { %}
    <script async defer src="http://localhost:35729/livereload.js"></script>
    {% } %} {%- include('footer') %} {% if (options.content.scripts) { %} {%- options.content.scripts %} {% }
    %}
  </body>
</html>
