<header>
  {% if (options.content.nav) { %} {%- options.content.nav(locals) %} {% } else { %}
  <nav>
    <a href="/"> {%- options.content.logo ? options.content.logo : "⚡️" %} </a>
    <ul>
      <li><a href="/">Home</a></li>
      {% if (user) { %}
      <li><a href="/auth/logout">Logout</a></li>
      <li>👤 <a href="/dashboard">{%= user.displayName %}</a></li>
      {% } else { %}
      <li><a href="/auth/login">Login</a></li>
      {% } %}
    </ul>
  </nav>
  {% } %}
  <h1>{%= title %}</h1>
</header>
